body {
    min-height: 100%;
    min-width: 100%;
}

ul,
li {
    list-style: none;
}

.app-title {
    margin: 0px;
    font-size: 55px;
    background: #606060;
    padding: 10px;
    color: #fff;
    box-shadow: 2px 2px 7px #ccc;
}

#mainWrapper {
    margin-top: 15px;
    padding: 20px;
    display: none;
}

#nameBox {
    background: #ccc;
    margin-top: 105px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 11px;
    box-shadow: 4px 4px 7px #ccc;
    margin-bottom: 105px;
}

#chatWrapper {
    box-shadow: 4px 4px 7px #ccc;
    border: 1px solid #ccc;
    margin-bottom: 50px;
}

#chatWindow {
    border: 1px solid #000;
    margin: 0px 0px 5px 0px;
    height: 250px;
    overflow-y: scroll;
}

.my-msg {
    float: right;
    background: #dedede;
    padding: 15px;
    margin: 7px;
    clear: both;
    position: relative;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

.other-msg {
    float: left;
    background: #606060;
    color: #fff;
    padding: 15px;
    margin: 7px;
    clear: both;
    position: relative;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

.typing {
    text-align: center;
    padding: 15px;
}

#users {
    margin-bottom: 10px;
}

#users li {
    border-bottom: 1px solid #ccc;
    padding: 9px;
}

.sendBox {
    background: #d3d3d3;
    margin-top: 25px;
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 25px;
}

footer {
    background: #606060;
    padding: 7px;
    color: #fff;
    position: fixed;
    bottom: 0px;
    width: 100%;
}